
body{
    margin: auto;
    font-family: Sora;

    height: 755px;
    width: 320px;

    border-radius: 0px;
    
}

.input-group-text {
    background-color: white;
    font-weight: 700;
}

#buttonCalculate {
    
    align-items: flex-start;
    width: 194px;
    height: 60px;
    background: linear-gradient(90deg, #911812 0%, #E1261C 100%);
    color: white;
    border-radius: 30px;
    border: none;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
    font-style: normal;
    font-weight: bold;
    font-size: 18px;    
    
}

#buttonCalculate:hover{
    align-items: flex-start;
    width: 194px;
    height: 60px;
    background: linear-gradient(90deg, #911812 0%, #E1261C 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25), inset 0px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 18px; 
}

#buttonCalculate:active{
    align-items: flex-start;
    width: 194px;
    height: 60px;
    background: linear-gradient(90deg, #911812 0%, #E1261C 100%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15), inset 0px -4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 18px; 
}



#totalCompensation{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    
}

#totalComp{
    margin-top: 10%;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
}


p{
    width: 130px;
    height: 45px;
    line-height: 15px;
    margin-bottom: -40px;
    font-size: 14px;
}



h1{
    font-family: Sora;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.02em;
    color: #111317;
}

#results{
    display: none;
}

#grossincome{
    height: 50px;
    width: 280px;
    left: 0px;
    top: 25px;
    border-radius: 4px;
}

#sickleave{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    height: 50px;
    width: 280px;
    left: 0px;
    top: 25px;
    border-radius: 4px;

}

#inputLabel{
    font-size: 14px;
    line-height: 20px;
    color: #111317;
}

#incomeInputLabel{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

#sickleaveInputLabel{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
};

#inputField{
padding-right:20px; 
text-align:left;
}

#inputUnitIncome{
margin-left:-20px;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 30px;
}

#inputUnitDays{
margin-left:-50px;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 30px;
}


#employerCompensationSum{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}

#insuranceCompensationSum{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}

#employerCompensationDays{
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
}

#insuranceCompensationDays{
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
}

#dailyAllowanceEmployerLabel{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #7A818E;
}

#dailyAllowanceInsuranceLabel{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #7A818E;
}


  